// SPDX-License-Identifier: GPL-2.0
/*
 * dts for Sunrise5 EVB LP4 1_B board
 *
 * Copyright (C) 2024 D-Robotics Inc.
 *
 */

/dts-v1/;
#include "x5-evb.dtsi"

/ {
	model = "D-Robotics X5 EVB LP4 1_B board";
};
