// SPDX-License-Identifier: GPL-2.0
/*
 * dts for Sunrise5 EVB LP4 1_A board
 *
 * Copyright (C) 2024 D-Robotics Inc.
 *
 */

/dts-v1/;
#include "x5-evb.dtsi"

/ {
	model = "D-Robotics X5 EVB LP4 1_A board";
};

&i2c2 {
	status = "disabled";
	/delete-node/ sc230ai@30;
};

&i2c1 {
	status = "disabled";
	/delete-node/ sc230ai@30;
};

&i2c3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
};

&i2c4 {
	/delete-node/ lt8618@3b;
	/delete-node/ sc230ai@30;
};

&i2c7 {
	/delete-node/ sc230ai@30;
};

/* SD Card */
&sdio_0 {
	no-1-8-v;
};

&csi0 {
	/delete-node/ ports;
};

&csi1 {
	/delete-node/ ports;
};

&csi2 {
	/delete-node/ ports;
};
&csi3 {
	/delete-node/ ports;
};

&mipi_host1 {
	status = "okay";
	//in x5-evb, mipi host0 & host1 share one mclk and gpio
};

&vin_vcon1 {
	status = "okay";
	//use same sensor gpio with vcon0 and i2c bus
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
	/delete-property/ gpio_oth;
	bus = <4>;
	/delete-property/ lpwm_chn;
	//lpwm_chn = <1>; //open lpwm0 - channel1
	//use same lpwm0 with vcon0
};

&vin_vcon3 {
	bus = <3>;  //i2c3
};


&bt1120_bridge {
	ports {
		/delete-node/ port@1;
	};
};
