// SPDX-License-Identifier: GPL-2.0
/*
 * dtsi for Sunrise5 platform
 *
 * Copyright (C) 2024 Horizon Robotics Inc.
 *
 */

#include "x5.dtsi"

/ {
	memory@87000000 {
		device_type = "memory";
		reg = <0x0 0x84000000 0x0 0x7C000000>;
		/* Expect Bootloader to properly configure total memory size */
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* dtb 2M 0x87FDC000---0x87FFC000*/
		/* uboot log 16k 0x87FFC000---0x88000000*/
		uboot_log_reserved: log@87FFC000 {
			compatible = "uboot_log";
			reg = <0x0 0x87FFC000 0x0 0x00004000>;  /* 16K */
			status = "okay";
		};

		linux,cma@88000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x88000000 0x0 0x07E00000>; /* 126MB */
			reusable;
			linux,cma-default;
		};

		/* use as firewall default address */
		firewall_ddr_default: firewall_ddr_default@8FE7F000 {
			reg = <0x0 0x8FE7F000 0x0 0x00001000>;
			no-map;
		};

		adsp_ddr: adsp_ddr@8FE80000 {
			reg = <0x0 0x8FE80000 0x0 0x02200000>;
			no-map;
		};

		audio_reserved: audio@92080000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x0 0x92080000 0x0 0x01000000>;
			status = "okay";
		};

		adsp_ipc_reserved: audio@93080000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x0 0x93080000 0x0 0x00800000>;
			status = "okay";
		};

		adsp_bsp_reserved: audio@93880000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x0 0x93880000 0x0 0x00800000>;
			status = "okay";
		};

		ramoops@94080000 {
			compatible = "ramoops";
			reg = <0x0 0x94080000 0x0 0x00040000>;
			console-size = <0x8000>;
			pmg-size = <0x8000>;
			ftrace-size = <0x8000>;
			sched-size  = <0x8000>;
			record-size = <0x4000>;
			ecc-size = <0x0>;
		};

		isp_cma: linux,cma2@95000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x95000000 0x0 0x0C800000>; /* 200MB */
			reusable;
		};

		ion_reserved: ion_reserved@A1800000 {
			compatible = "ion-pool";
			reg = <0x0 0xA1800000 0x0 0x20000000>; /* 512MB */
			status = "okay";
		};

		ion_carveout: ion_carveout@C1800000 {
			compatible = "ion-carveout";
			reg = <0x0 0xC1800000 0x0 0x20000000>; /* 512MB */
			status = "okay";
		};

		ion_cma: ion_cma {
			compatible = "ion-cma";
			alignment = <0x0 0x2000>;
			reusable;
			reg = <0x0 0xE1800000 0x0 0x0B800000>; /* 184MB */
			status = "okay";
		};
		/* The remaining memory is used as kernel heaps,
		 * please reserve with CAUTION!
		 */
	};
};

&isp {
	memory-region = <&isp_cma>;
};

&range_1 {
        memory-region = <&firewall_ddr_default>;
};
