// SPDX-License-Identifier: GPL-2.0
/*
 * dts for Sunrise5 som platform
 *
 * Copyright (C) 2024 Horizon Robotics Inc.
 *
 */

/dts-v1/;
#include "x5.dtsi"
#include "x5-memory.dtsi"
#include "pinmux-func.dtsi"
#include "pinmux-gpio.dtsi"

/ {
	model = "Horizon Robotics X5 SOM board";
	compatible = "Horizon, x5";

	#address-cells = <2>;
	#size-cells = <2>;

	gua_audio_rpc_wrapper:audio-rpc-wrapper {
		compatible = "gua,audio-rpc-wrapper";
		rpmsg-enable;
		status = "disabled";
	};

	ipc_wrapper:ipc-wrapper {
		compatible = "gua,ipc-wrapper";
		rpmsg-enable;
		status = "disabled";
	};

	sound_misc_0:misc-hifi {
		compatible = "gua,misc-hifi-core";
										// core channel
		control-rpmsg-channel-mapping = <0x00 0x00	// a core to hifi 0
										>;
		msg-wrapper = <&ipc_wrapper>;
		memory-region = <&adsp_bsp_reserved>;
		status = "disabled";
	};

	sound_cpu:cpu-dai {
		compatible = "gua,cpu-dai";
		msg-wrapper = <&ipc_wrapper>;
		gua,pcm-buffer-size = <0x1E000>;
		pcm-rpmsg-channel-mapping = <0x00>, <0x00>, <0x00>, <0x00>, <0x00>;
		status = "disabled";
	};

	sound-machine {
		compatible = "gua,sound-card";
		model = "gua-audio";
		cpu-dai = <&sound_cpu>;
		memory-region = <&audio_reserved>;
		status = "disabled";
	};

	vdd08_gpu_reg: vdd08_gpu_reg@3 {
		status = "okay";
		compatible = "regulator-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&hsio_gpio1_1>;
		regulator-name = "VCC_GPU";
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <800000>;
		regulator-enable-ramp-delay = <3000>;
		enable-gpio = <&hs_gpio1_porta 1 GPIO_ACTIVE_HIGH>;
		states = <800000 0>;
		startup-delay-us = <3000>;
		enable-active-high;
	};

};

&cpu_0 {
	cpu-supply = <&vdd08_cpu_reg>;
};

&cpu_1 {
	cpu-supply = <&vdd08_cpu_reg>;
};

&cpu_2 {
	cpu-supply = <&vdd08_cpu_reg>;
};

&cpu_3 {
	cpu-supply = <&vdd08_cpu_reg>;
};

&cpu_4 {
	cpu-supply = <&vdd08_cpu_reg>;
};

&cpu_5 {
	cpu-supply = <&vdd08_cpu_reg>;
};

&cpu_6 {
	cpu-supply = <&vdd08_cpu_reg>;
};

&cpu_7 {
	cpu-supply = <&vdd08_cpu_reg>;
};

&x5_bpu_pd {
	bpu-supply = <&vdd08_bpu_1_reg>;
};

&x5_gpu_pd {
	gpu-supply = <&vdd08_gpu_reg>;
};

&lsio_iomuxc {
	icm_int1: icm-int1 {
		horizon,pins = <
			LSIO_I2C1_SDA	LSIO_PINMUX_2	BIT_OFFSET22	MUX_ALT1	&pconf_input_en_3v3
		>;
	};
};

&adc {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart7 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart7>;
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
};

&uart2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
};

&axi_dmac {
	status = "okay";
};


&i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	hpu3501@1c {
		compatible = "hobot, hpu3501";
		reg = <0x1c>;
		status = "okay";
		hpu3501-regulator {
			master;
			en_pin_map = <0x15>;
			regulators {
				vdd08_bpu_1_reg: BUCK2 {
					regulator-name = "VCC_BPU";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <800000>;
					regulator-enable-ramp-delay = <3000>;
					regulator-ramp-delay = <2000>;
				};
				vdd08_cpu_reg: BUCK3 {
					regulator-name = "VDD08_CPU";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1000000>;
					regulator-enable-ramp-delay = <3000>;
					regulator-ramp-delay = <2000>;
					regulator-always-on;
					regulator-boot-on;
				};
			};
		};

	};
};

&i2c3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
};

&i2c4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
};

&i2c7 {
	status = "okay";
	es7210_0: es7210_0@40 {
		compatible = "MicArray_0";
		reg = <0x40>;
		#sound-dai-cells = <1>;
		channels = <4>;
		adc_dev_num = <1>;
		status = "okay";
	};

	es8156: es8156@8 {
		compatible = "everest,es8156";
		reg = <0x8>;
		#sound-dai-cells = <0>;
		status = "okay";
	};
};

&lpwm0 {
	status = "okay";
	/* conflict with lsio_gpio1_0 */
	// pinctrl-names = "default";
	// pinctrl-0 = <&pinctrl_lpwm0_0 &pinctrl_lpwm0_2>;
};

&pwm2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm2_1>;
};

&pwm3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm3_0 &pinctrl_pwm3_1>;
};

&emmc {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_emmc>;
	fixed-emmc-driver-type = <2>;
};

&spi2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi2>;

	icm42652@0 {
		compatible = "invensense,icm42652";
		reg = <0>;
		spi-max-frequency = <5000000>;
		spi-cpha;
		spi-cpol;
		interrupt-parent = <&ls_gpio1_porta>;
		interrupts = <10 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		pinctrl-0 = <&icm_int1>;
	};
};

&dc8000_nano {
	status = "okay";
};

&hdmi_encoder {
	status = "okay";
};

&display_subsystem {
	status = "okay";
};

&extcon_usb2otg {
	pinctrl-names = "default";
	pinctrl-0 = <&aon_gpio_6>;

	id-gpios = <&aon_gpio_porta 6 GPIO_ACTIVE_HIGH>;

	status = "okay";
};

&dwc3_usb2 {
	extcon = <&extcon_usb2otg>;

	status = "okay";
};

&usb2 {
	status = "okay";
};

&extcon_usb3otg {
	pinctrl-names = "default";
	pinctrl-0 = <&aon_gpio_5>;

	id-gpios = <&aon_gpio_porta 5 GPIO_ACTIVE_HIGH>;

	status = "okay";
};

&dwc3_usb3 {
	role-switch-default-mode = "host";
	extcon = <&extcon_usb3otg>;

	status = "okay";
};

&usb3 {
	status = "okay";
};

&dsp_axi_dma {
	status = "okay";
};

&dw_i2s0 {
	status = "okay";
};

&dw_i2s1 {
	status = "okay";
};

&archband_pdm {
	status = "okay";
};

&virt_codec {
	status = "okay";
};

&mailbox0 {
	status = "disabled";
};

&ipc_instance0 {
	status = "disabled";
};

&ipc_instance1 {
	status = "disabled";
};

&ipc_instance2 {
	status = "disabled";
};

&pvt {
	status = "okay";
};

&remoteproc_hifi5 {
	status = "disabled";
	hifi5-rpmsg-channel-mapping = <0x00>, <0x00>;
	msg-wrapper = <&ipc_wrapper>;
};

&hpsclks {
	status = "okay";
};

&dspclks {
	status = "okay";
};

&aonclks {
	status = "okay";
};

&sound {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	simple-audio-card,name = "simple-audio-card";

	simple-audio-card,dai-link@0 {
		link-name = "dw-i2s0-dai-link";
		reg = <1>;
		format = "i2s";
		mclk-fs = <64>;
		bitclock-master = <&play_master0>;
		frame-master = <&play_master0>;
		play_master0: cpu {
			sound-dai = <&dw_i2s0>;
		};
		codec {
			sound-dai = <&es8156>;
		};
	};

	simple-audio-card,dai-link@2 {
		link-name = "dw-i2s1-dai-link";
		reg = <1>;
		format = "dsp_a";
		mclk-fs = <64>;
		bitclock-master = <&capture_master0>;
		frame-master = <&capture_master0>;
		capture_master0: cpu {
			sound-dai = <&dw_i2s1>;
		};
		codec {
			sound-dai = <&es7210_0 0>;
		};
	};

	simple-audio-card,dai-link@1 {
		link-name = "archband-pdm-dai-link";
		reg = <1>;
		format = "i2s";
		mclk-fs = <64>;
		bitclock-master = <&arb_dai>;
		frame-master = <&arb_dai>;
		arb_dai: cpu {
			sound-dai = <&archband_pdm>;
		};
		codec {
			sound-dai = <&virt_codec>;
		};
	};
};

&duplex_card {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	simple-audio-card,name = "duplex-audio-card";
	simple-audio-card,dai-link@0 {
		link-name = "dummy-dai-link0";
		reg = <1>;
		format = "i2s";
		mclk-fs = <64>;
		bitclock-master = <&dummy_master0>;
		frame-master = <&dummy_master0>;
		dummy_master0: cpu {
				sound-dai = <&dw_i2s0>;
		};
		codec {
				sound-dai = <&virt_codec>;
		};
	};

	simple-audio-card,dai-link@1 {
		link-name = "dummy-dai-link1";
		reg = <1>;
		format = "i2s";
		mclk-fs = <64>;
		bitclock-master = <&dummy_master1>;
		frame-master = <&dummy_master1>;
		cpu {
				sound-dai = <&dw_i2s1>;
		};
		dummy_master1: codec {
				sound-dai = <&virt_codec>;
		};
	};
};

&mipi_host0 {
	status = "okay";
	pinctrl-names = "enable", "disable";
	pinctrl-0 = <&pinctrl_sensor2_mclk>; //mclk2
	pinctrl-1 = <&lsio_gpio0_26>;
	snrclk-idx = <2>;  //mclk index
};

&mipi_host1 {
	status = "okay";
	pinctrl-names = "enable", "disable";
	pinctrl-0 = <&pinctrl_sensor3_mclk>; //mclk3
	pinctrl-1 = <&lsio_gpio0_27>;
	snrclk-idx = <3>;  //mclk index
};

&vin_vcon0 {
	status = "okay";  //has enabled in x5.dtsi
	/* camera sensor
	   power_en gpio:  HSIO_GPIO0_07:       473
	   reset gpio:	   HSIO_GPIO0_01:       467
	   pwd gpio:       LSIO_GPIO1_02:       349
	*/
	pinctrl-names = "default";
	pinctrl-0 = <&hsio_gpio0_7 &hsio_gpio0_1 &lsio_gpio1_2>;
	gpio_oth = <473 467 349>;   //power_en gpio、 reset gpio、pwd gpio
	bus = <4>;	//i2c-4
};

&vin_vcon1 {
	status = "okay";  //has enabled in x5.dtsi
	/* camera sensor
	   power_en gpio:  HSIO_GPIO0_08:       474
           reset gpio:     HSIO_GPIO0_00:       466
	   pwd gpio:       LSIO_GPIO1_02:       347
	*/
	pinctrl-names = "default";
	pinctrl-0 = <&hsio_gpio0_8 &hsio_gpio0_0 &lsio_gpio1_0>;
	gpio_oth = <474 466 347>;   //power_en gpio、reset gpio、pwd gpio
	bus = <3>;	//i2c-3
};

&bpu {
	cnn-supply = <&vdd08_bpu_1_reg>;
};

&efuse{
	/* use aon gpio7 as efuse power */
	pinctrl-names = "default";
	pinctrl-0 = <&aon_gpio_7>;
};
